.btn-add-new {
  padding:0 10px;
  background-color: #0071BA;
  height: 40px;
  &:hover {
    background-color: #0071BA;
  }
}

.close {
  background: transparent;
  border: none;
  font-size: 28px;
}
.form-group {
  margin-bottom: 0;
}
.custom-upload-img {
  background: #0071BA;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  &:hover {
    background: #5466b3;
  }
}
.preview-image{
  height: 100px;
  width: 100%;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}